@font-face {
    font-family: "Raleway-Regular", sans-serif;
    src: url("../fonts/Raleway-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Raleway-Medium", sans-serif;
    src: url("../fonts/Raleway-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Raleway-SemiBold", sans-serif;
    src: url("../fonts/Raleway-SemiBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Raleway-Bold", sans-serif;
    src: url("../fonts/Raleway-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Arial", sans-serif;
    src: url("../fonts/Arial-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ProximaNova-Light", sans-serif;
    src: url("../fonts/ProximaNova-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ProximaNova-Semibold", sans-serif;
    src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ProximaNova-Bold", sans-serif;
    src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  