.footer {
  padding-top: 70px;
}
.content__wrapper {
}
.nav {
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.logo {
}
.logo__img {
}
.footer__menu {
}
.menu {
}
.footer__menu-list {
  gap: 70px;
}
.footer__menu-item {
}
.menu__list-link {
}
.footer__copyright {
  margin: 95px auto 70px;
  text-align: center;
  font-family: "Arial-Regular", sans-serif;
  font-size: 16px;
}
