.footer {
  padding: 70px 0 50px;
  background-color: $blue;
}

.footer__menu-list{
  font-family: "Arial-Regular", sans-serif;
  gap: 70px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 95px auto 70px;
  text-align: center;
  font-family: "Arial-Regular", sans-serif;
  font-size: 16px;
}
