body {
  min-height: 100vh;  
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;  
  margin: 0 auto;
}

.content__wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

// .logo__img {
//   width: 90px;
//   height: 90px;
// }

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.btn {
  width: 185px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: #fff;
  font-family: $semibold;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  transition: .3s;
  &:hover {
    background-color: $ultramarine;
    color: #fff;
    cursor: pointer;
  }
}
