.header {
  padding-top: 20px;
  background-image: url(../img/headr-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 940px) {
  .header {
    padding-top: 40px;
  }
}

@media (max-width: 480px) {
  .header {
    padding-top: 18px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 30px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 940px) {
  .header__inner {
    border-radius: 18px;
  }
}

.logo {
  margin-left: 14px;
}

@media (max-width: 940px) {
  .logo {
    margin-left: 32px;
  }
  .logo__img {
    width: 64px;
    height: 64px;
  }
}

@media (max-width: 690px) {
  .logo {
    margin-left: 10px;
  }
  .logo__img {
    width: 54px;
    height: 54px;
  }
}

@media (max-width: 480px) {
  .logo {
    margin-left: 10px;
  }
  .logo__img {
    width: 54px;
    height: 54px;
  }
}

.menu__btn {
  display: none;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.menu__list-item {
  margin: 0 40px;
  position: relative;
  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-color: #000;
  }
}

@media (max-width: 940px) {
  .menu__list-item {
    margin: 0 20px;
    &:not(:last-child)::after {
      right: -20px;
    }
  }
}

.menu__list-link {
  font-family: $ligth;
  font-size: 20px;
  color: $ultramarine;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
  &:hover {
    border-bottom: 2px solid $ultramarine;
  }
}

@media (max-width: 1130px) {
  .menu__list-link {
    font-size: 16px;
  }
}

@media (max-width: 940px) {
  .menu__list-link {
    font-size: 18px;
  }
}

@media (max-width: 690px) {
  .menu__list-link {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .menu__list {
    display: none;
  }
  .menu__btn {
    display: block;
    margin-right: 16px;
    cursor: pointer;
  }
}

.menu__tel {
  display: flex;
  align-items: center;
  margin-right: 34px;
  & img {
    margin-right: 16px;
  }
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 480px) {
  .menu__tel img {
    margin-right: 8px;
  }
}

.menu__btn-link strong {
  font-family: $bold;
  font-size: 18px;
}

@media (max-width: 1030px) {
  .menu__btn-link strong {
    font-size: 17px;
  }
}
@media (max-width: 940px) {
  .menu__btn-link {
    display: none;
  }
}
@media (max-width: 480px) {
  .menu__btn-link {
    display: block;
  }
  .menu__btn-link strong {
    font-size: 15px;
  }
}

.header__content {
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.header__content-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 63px;
  gap: 24px;
}

@media (max-width: 940px) {
  .header__content-items {
    padding-top: 45px;
  }
}

@media (max-width: 760px) {
  .header__content-items {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
  }
}

@media (max-width: 480px) {
  .header__content-items {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
  }
}

.header__content-about {
  display: flex;
  flex-direction: column;
  margin-top: -150px;
  flex-basis: 500px;
}

@media (max-width: 940px) {
  .header__content-about {
    flex-basis: 240px;
    margin-top: -75px;
  }
}

.content__title {
  font-family: $bold;
  font-weight: 700;
  font-size: 82px;
  color: #000;
}

@media (max-width: 940px) {
  .content__title {
    font-size: 55px;
  }
}

@media (max-width: 480px) {
  .content__title {
    font-size: 46px;
  }
}

.header__content-img {
  @include card;
  flex-basis: 500px;
  width: 500px;
  height: 545px;
  border-radius: 60px;
  margin-bottom: 100px;
}

@media (max-width: 1030px) {
  .header__content-img img {
    object-fit: cover;
  }
}

@media (max-width: 940px) {
  .header__content-img {
    margin-top: 25px;
    width: 331px;
    height: 366px;
    border-radius: 40px;
    background-color: transparent;
    border: none;
    flex-basis: auto;
  }
}

@media (max-width: 800px) {
  .header__content-img {
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .header__content-img {
    position: relative;
    margin-top: 0;
    & img {
      flex-basis: auto;
    }
  }
}

.content__text {
  font-family: $regular;
  font-size: 20px;
  line-height: 120%;
  color: $ultramarine;
  text-wrap: balance;
}

@media (max-width: 940px) {
  .content__text {
    font-size: 18px;
    max-width: 377px;
  }
}

@media (max-width: 480px) {
  .content__text {
    margin-top: 15px;
    font-size: 14px;
    max-width: 200px;
  }
}

.content__buttons {
  display: flex;
  margin-top: 34px;
  gap: 25px;
  color: $ultramarine;
}

@media (max-width: 940px) {
  .content__buttons {
    margin-top: 25px;
  }
}

.content__btn-services {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 940px) {
  .content__btn-contacts,
  .content__btn-services {
    font-size: 15px;
    width: 155px;
    height: 50px;
    line-height: 49px;
  }
}

@media (max-width: 480px) {
  .content__btn-contacts,
  .content__btn-services {
    font-size: 14px;
    width: 123px;
    height: 40px;
    line-height: 39px;
  }
}

//media - номер телефона для адаптива
.wrapper__menu-media {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  position: relative;
}

.menu__tel-media {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 168px;
  height: 50px;
  margin-top: 10px;
  @include card;
  border-radius: 10px;
  font-family: $proximabold;
  font-size: 16px;
  margin-right: 0;
}

.menu__btn-link--media {
  text-align: center;
}

.header__menu-mobil {
  padding: 20px 56px;
  max-width: 331px;
  position: absolute;
  top: -8%;
  z-index: 2;
  border: 1px solid #fff;
  border-radius: 18px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.3);
}

.menu__list-mobil {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 20px 30px;
}
.menu__list-mobil--item:nth-child(4) {
  grid-column: 1 / -1;
  justify-self: center;
}

.header__menu-mobil {
  transform: translateY(-300%);
  transition: 0.3s;
}

.header__menu-mobil.menu__list--open {
  transform: translateY(0);
}

.wrapper__menu-media.show,
.menu__tel-media.show {
  visibility: visible;
  opacity: 1;
  transition: 0.7s;
}
