.wrapper__menu-media,
.menu__tel-media { 
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 1140px) {
  .container {
    max-width: 1110px;
  }
  .content__wrapper {
    max-width: 1090px;
  }
}

@media (max-width: 1115px) {
  .content__wrapper {
    max-width: 1040px;
  }
}

@media (max-width: 1085px) {
  .container {
    max-width: 1050px;
  }
}

@media (max-width: 1030px) {
  .container {
    max-width: 990px;
  }
  .content__wrapper {
    max-width: 960px;
  }
}

@media (max-width: 940px) {
  .container {
    max-width: 804px;
  }
  .content__wrapper {
    max-width: 774px;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 790px;
  }
  .content__wrapper {
    // max-width: 770px;
    max-width: 720px;
  }
}

@media (max-width: 760px) {
  .container {
    max-width: 730px;
  }
  .content__wrapper {
    max-width: 700px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 446px;
  }
  .content__wrapper {
    max-width: 428px;
  }

  .wrapper__menu-media {
    display: none;
  }
}

@media (max-width: 360px) {
  .container {
    width: 328px;
  }
  .content__wrapper {
    width: 328px;
  }
}

