.wrapper__menu-media {
  display: none;
}

// @media (max-with: 790px) {
// }
// @media (max-width: 1200px) {
//   .container {
//     max-width: 970px;
//   }
//   .content__wrapper {
//     max-width: 940px;
//   }
// }


@media (max-width: 940px) {
  .container {
    max-width: 804px;
  }
  .content__wrapper {
    max-width: 774px;
  }
}

// @media (max-width:882px) {
//   .container {
//     max-width: 840px;
//   }
//   .content__wrapper {
//     max-width: 738px;
//   }
// }

// @media (max-width: 840px) {
//   .container { max-width: 768px; }
//   .content__wrapper {
//     max-width: 746px;
//   }   
// }

// @media (max-width: 768px) {
//   .container {
//     max-width: 650px;
//   }
//   .content__wrapper {
//     max-width: 620px;
//   }
// }

@media (max-width: 480px) {
  .container {
    max-width: 446px;
  }
  .content__wrapper {
    max-width: 428px;
  }
}

@media (max-width: 360px) {
  .container {
    width: 328px;
  }
  .content__wrapper {
    width: 328px;
  }
}




// 1215 - map
// 1180px
