.wrapper__menu-media {
  display: none;
}


@media (max-width: 1162px) {
  .priority__item-content {
    max-width: 600px;
  }
  .priority__item-img {
  }
}

@media (max-width: 1132px) {
  .priority__item-content {
    max-width: 580px;
    padding: 22px 20px 10px;
  }
}

@media (max-width: 1110px) {
  .priority__item-content {
    max-width: 560px;
  }
  .priority__item-listcontent {
    padding-bottom: 30px;
  }
  .priority__item-textcontent {
    padding-bottom: 30px;
  }
}

@media (max-width: 1102px) {
  // body {
  //   scale: 0.7;
  // }
  .priority__item-content {
    max-width: 540px;
    font-size: 20px;
  }
  .priority__title {
    margin-bottom: 34px;
    // font-size: 24px;
  }
  .priority__item-content--mix {
  }
  .priority__title--mix {
    // margin-bottom: 20px;
  }
  .priority__item-img--mix {
    // height: 578px;
  }
}

@media (max-width: 1108px) {
  // body {
  //   padding: 0 2px;
  // }
  .container {
    padding: 0 3px;
  }
  .content__wrapper {
    padding: 0 3px;
  }
}

@media (max-width: 1086px) {
  .menu__btn-link {
    display: none;
  }
  .header__content-items {
    padding-top: 17px;
  }
  .wrapper__menu-media {
    // display: flex;
  }
}

@media (max-width: 940px) {
  .container {
    width: 804px;
    padding: 0 3px;
  }
  .content__wrapper {
    width: 774px;
    padding: 0 3px;
  }
}
