.priorities {
  padding: 100px 0 100px;
  background-color: $blue;
}

@media (max-width: 940px) {
  .priorities {
    padding: 75px 0 75px;
  }
}
@media (max-width: 480px) {
  .priorities {
    padding: 50px 0 50px;
  }
}

.priority__item-listcontent {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

@media (max-width: 1180px) {
  .priority__item-listcontent {
    padding-bottom: 28px;
  }
}

@media (max-width: 940px) {
  .priority__item-listcontent {
    padding-bottom: 35px;
  }
}
@media (max-width: 480px) {
  .priority__item-listcontent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
}

.priority__item-content {
  @include card;
  padding: 40px 20px 20px;
  max-width: 638px;
}

@media (max-width: 940px) {
  .priority__item-content {
    max-width: 380px;
    padding: 28px 20px 10px;
  }
}

@media (max-width: 480px) {
  .priority__item-content {
    margin-bottom: 20px;
    // padding: 18px 20px 10px;
  }
}

.priority__title {
  margin-bottom: 40px;
  max-width: 416px;
  text-align: left;
  margin-left: 20px;
  font-family: $bold;
  font-size: 30px;
}

@media (max-width: 1080px) {
  .priority__title {
    margin-bottom: 35px;
  }
}

@media (max-width: 940px) {
  .priority__title {
    margin-bottom: 30px;
    font-size: 24px;
  }

  @media (max-width: 480px) {
    .priority__title {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}

.priorities__item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
  font-family: $medium;
  font-size: 24px;
  color: $ultramarine;
  margin-bottom: 20px;
  &::before {
    content: url(../img/marker.png);
    align-self: center;
  }
}

@media (max-width: 1180px) {
  .priorities__item {
    font-size: 22px;
    margin-bottom: 13px;
  }
}

@media (max-width: 940px) {
  .priorities__item {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .priorities__item {
    font-size: 14px;
  }
}

.priority__item-img img {
  @include card-img;
}

.priority__item-img-1 img {
  // width: 480px;
  // height: 560px;
  object-fit: cover;
}

@media (max-width: 1180px) {
  .priority__item-img img {
    max-width: 480px;
  }
  .priority__item-img-2 img{
    height: 328px;
    object-fit: cover;
  }
}

@media (max-width: 940px) {
  .priority__item-img-1 img {
    width: 390px;
    height: 460px;
    object-fit: cover;
  }

  .priority__item-img-2 img {
    max-width: 390px;
    height: 364px;
    object-fit: cover;
  }

  .priority__item-img-3 img {
    max-width: 390px;
    height: 560px;
    object-fit: cover;
  }
}

@media (max-width: 790px) {
  .priority__item-img-1 img {
  }

  .priority__item-img-2 img {
  }

  .priority__item-img-3 img {
  }
}

@media (max-width: 480px) {
  .priority__item-img-1 img {
    width: 378px;
    height: 211px;
    object-fit: cover;
  }
  .priority__item-img-2 img {
    // width: 378px;
    // height: 211px;
    width: 378px;
    height: auto;
    object-fit: cover;
  }
  .priority__item-img-3 img {
    width: 378px;
    height: 211px;
    object-fit: cover;
  }
}
@media (max-width: 380px) {
  .priority__item-img-1 img {
    max-width: 100%;
    object-fit: cover;
  }
  .priority__item-img-2 img {
    max-width: 100%;
    object-fit: cover;
  }
  .priority__item-img-3 img {
    max-width: 100%;
    object-fit: cover;
  }
}

.priority__item-textcontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

@media (max-width: 1180px) {
  .priority__item-textcontent {
    padding-bottom: 28px;
  }
}

@media (max-width: 940px) {
  .priority__item-textcontent {
    padding-bottom: 35px;
  }
}

@media (max-width: 480px) {
  .priority__item-textcontent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
}

.priorities__items-text {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 22px;
  font-family: $medium;
  color: $ultramarine;
  font-size: 24px;
}

@media (max-width: 940px) {
  .priorities__items-text {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .priorities__items-text {
    font-size: 14px;
  }
}

.priority__item-content--list {
  @media (max-width: 1180px) {
    max-height: 100%;
  }
  @media (max-width: 940px) {
    padding: 37px 20px 24px;
  }
}
.priority__item-content--text {
  
  padding: 58px 20px 25px;
  @media (max-width: 940px) {
    padding: 60px 20px 28px;
  }
}
.priority__item-content--mix {
  @media (max-width: 940px) {
    padding: 58px 20px 28px;
  }
}
