.program {
  padding: 100px 0 100px;
  background-color: $blue;
}

@media (max-width: 940px) {
  .program {
    padding: 75px 0 75px;
  }
}

.program__title {
  @include title;
  margin-bottom: 50px;
}

@media (max-width: 940px) {
  .program__title {
    margin-bottom: 35px;
    font-size: 30px;
  }
}

.program__list {
  padding-top: 50px;
  padding-left: 60px;
  @include card;
}

.program__list-title {
  text-align: left;
  margin-left: 20px;
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 25px;
  color: #000;
  margin-bottom: 50px;
}

@media (max-width: 940px) {
  .program__list-title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.program__list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  max-width: 865px;
  align-items: center;
  font-family: $medium;
  font-size: 24px;
  color: $ultramarine;
  margin-bottom: 50px;
  &::before {
    content: url(../img/marker.png);
    align-self: center;
  }
}

@media (max-width: 940px) {
  .program__list-item {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
