.services {
  padding-top: 100px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  font-family: $medium;
  font-size: 24px;
}

.service__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
  width: calc(50% - 10px);
}

.service__item-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  background-color: #e6f5fc;
}

.service__text {
  max-width: 380px;
  text-wrap: pretty;
}

.last__text span {
  text-wrap: nowrap;
}

.center--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.services__title {
  margin: 100px 0 100px;
  text-align: center;
  font-family: $bold;
  font-size: 48px;
  color: #000;
}

.services__help-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__help-item {
  position: relative;
  padding-left: 30px;
  padding-bottom: 10px;
  font-family: $medium;
  font-size: 24px;
  margin-bottom: 50px;
  color: $ultramarine;
  max-width: 965px;
  text-wrap: pretty;
  &::before {
    content: url(../img/check.png);
    position: absolute;
    left: -30px;
    top: 50%;
    margin-right: 30px;
    transform: translateY(-50%);
  }
  &:last-child {
    margin-bottom: 100px;
  }
}
