.services {
  padding-top: 100px;
}

@media (max-width: 940px) {
  .services {
    padding-top: 75px;
  }
}
@media (max-width: 480px) {
  .services {
    padding-top: 50px;
  }
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  width: 110%;
  justify-content: space-between;
  font-family: $medium;
  font-size: 24px;
}

@media (max-width: 940px) {
  .services__list {
    width: 100%;
    font-size: 18px;
  }
}

@media (max-width: 760px) {
  .services__list {
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .services__list {
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
  }
}

.service__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 50px;
  width: calc(50% - 10px);
  // box-sizing: border-box;
}

@media (max-width: 760px) {
  .service__item{
    width: 100%;
  }
}

@media (max-width: 480px) {
  .service__item {
    width: 100%;
    margin-bottom: 30px;
  }
}

.service__item-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  background-color: #e6f5fc;
}

@media (max-width: 940px) {
  .service__item-img {
    width: 70px;
    height: 70px;
    margin-right: 30px;
  }
}

@media (max-width: 480px) {
  .service__item-img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  .service__img {
    width: 25px;
    height: 25px;
  }
}

.service__text {
  max-width: 380px;
  text-wrap: pretty;
}

@media (max-width: 940px) {
  .service__text {
    max-width: 230px;
  }
}

.last__text span {
  text-wrap: nowrap;
}

@media (max-width: 480px) {
  .last__text span {
    text-wrap: wrap;
  }
}

.center--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 760px) {
  .center--wrapper {
    justify-content: start;
  }
}

.services__title {
  margin: 100px 0 100px;
  @include title;
}

@media (max-width: 940px) {
  .services__title {
    margin: 75px 0 75px;
    font-size: 35px;
  }
}

@media (max-width: 480px) {
  .services__title {
    margin: 40px 0 50px;
    font-size: 20px;
  }
}

.services__help-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__help-item {
  position: relative;
  padding-left: 30px;
  padding-bottom: 10px;
  font-family: $medium;
  font-size: 24px;
  margin-bottom: 50px;
  color: $ultramarine;
  max-width: 965px;
  text-wrap: pretty;
  &::before {
    content: url(../img/check.png);
    position: absolute;
    left: -30px;
    top: 50%;
    margin-right: 30px;
    transform: translateY(-50%);
  }
  &:last-child {
    margin-bottom: 100px;
  }
}

@media (max-width: 1030px) {
  .service__help-item {
    font-size: 22px;
    margin-bottom: 30px;
    &::before {
      content: url(../img/media/check-mob.png);
      position: absolute;
      left: -5px;
      top: 50%;
      margin-right: 30px;
      transform: translateY(-50%);
    }
    &:last-child {
      margin-bottom: 100px;
    }
  }
}
@media (max-width: 940px) {
  .service__help-item {
    font-size: 20px;
    margin-bottom: 30px;
    &::before {
      content: url(../img/media/check-mob.png);
      position: absolute;
      left: -30px;
      top: 50%;
      margin-right: 30px;
      transform: translateY(-50%);
    }
    &:last-child {
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 800px) {
  .service__help-item {
    &::before {
      left: -10px;
    }
  }
}

@media (max-width: 480px) {
  .service__help-item {
    font-size: 14px;
    margin-bottom: 20px;
    &::before {
      content: url(../img/media/check-mob-2.png);
      position: absolute;
      left: 2px;
      top: 50%;
      margin-right: 30px;
      transform: translateY(-50%);
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }
}
