.terms {
  padding: 100px 0 50px;
}

.terms__title {
  @include title;
  margin-bottom: 50px;
}

.terms__text {
  text-align: center;
  font-family: $medium;
  font-size: 24px;
  margin-bottom: 30px;
  max-width: 1080px;
  padding: 20px 40px;
}

.terms__btn {
  min-width: 320px;
  min-height: 65px;
  margin: 50px auto;
  background-color: $blue;
  font-size: 25px;
}
