$medium: "Raleway-Medium", sans-serif;
$bold: "Raleway-Bold", sans-serif;
$semibold: "ProximaNova-Semibold", sans-serif;
$proximabold: "ProximaNova-Bold", sans-serif;
$regular: "Raleway-Regular", sans-serif;
$ligth: "ProximaNova-Light", sans-serif;

$ultramarine: #0d2b46;
